body {
	margin: 0;
	padding: 10px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body.cuerpo {
	border: none;
	padding: 0
}

#site-border-left,
#site-border-rigth,
#site-border-top,
#site-border-bottom{
	background: black;
	position: fixed;
	z-index: 1
}
#site-border-left,
#site-border-right {
	top: 0;
	bottom: 0;
	width: 10px
}

#site-border-left {
	left: 0
}

#site-border-right {
	right: 0
}

#site-border-bottom,
#site-border-top {
	left: 0;
	right: 0;
	height: 10px
}

#site-border-top {
	top: 0
}

#site-border-bottom {
	bottom: 0
}

.contenedor1{
	position: fixed;
	height: 10vh;
	width: 100vw;
	margin: 0px 20vw;
}

.contenedor1 ul{
	display: flex;
	list-style: none;
}
.contenedor1 ul li{
	text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    height: 5vh;
    width: 15vw;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	font-size: 1.4em;
	text-decoration: none;
    color: initial;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}