@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body {
	font-family: sans-serif,'Lato';
	margin: 0;
	padding: 0;
	background: rgb(47,71,96);
	background: radial-gradient(circle, rgba(47,71,96,1) 0%, rgba(148,187,233,1) 100%);
}

#site-border-left,
#site-border-rigth,
#site-border-top,
#site-border-bottom{
	background: black;
	position: fixed;
	z-index: 1
}
#site-border-left,
#site-border-right {
	top: 0;
	bottom: 0;
	width: 10px
}

#site-border-left {
	left: 0
}

#site-border-right {
	right: 0
}

#site-border-bottom,
#site-border-top {
	left: 0;
	right: 0;
	height: 10px
}

#site-border-top {
	top: 0
}

#site-border-bottom {
	bottom: 0
}
.navbar{
	position: fixed;
	height: 5vh;
	width: 100vw;
	top: 0;
	z-index: 100;
	margin: 10px 0px 0px 0px;
	background-color: black;
	padding: 0px 0px 0px 19vw;
	border-bottom: solid 1px;
	border-color: rgb(255, 255, 255);

}
.navbar1{
	position: fixed;
	height: 10vh;
	width: 100vw;
	margin: 0px 20vw;
}

.navbar ul{
	display: flex;
	padding: 0;
	margin: 0;
}
.navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    height: 5vh;
    width: 15vw;
	font-size: 1.5em;
}

@media (min-width:350px){
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		margin-right: 7px;
		font-size: 1em;
	}
}

@media (min-width:650px){
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		margin-right: 7px;
		font-size: 1.4em;
	}
}

@media(min-width:1200px) {
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		width: 15vw;
		font-size: 1.7em;
	}
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	text-decoration: none;
    color: white;
}

.img-responsive {
	display: block;
	max-height: 300;
	max-width: 80%;
	margin: 5px auto;
}

.contenedor-texto{
	position: fixed;
	top: 50vh;
	font-size: 2em;
	color: white;
}

@media (min-width:350px){
	.contenedor-texto{
		position: fixed;
		top: 30%;
		font-size: 1.2em;
	}
	
}

@media(min-width:1200px){
	.contenedor-texto{
		position: fixed;
		top: 40%;
		font-size: 2.3em;
	}
}

.contenedor-inicial{
	position: absolute;
	top: 5vh;
	width: 100vw;
	height: 10vh;
	margin: 10px 0px;
}

.contenedor{
	background-color: blueviolet;
	margin: 2vh 10vw;
}

@media(min-width:350px){
	.contenedor{
		margin: 2vh 0;
	}
}

@media(min-width:800px){
	.contenedor{
		margin: 2vh 20vw;
	}
}

.cont-col1{
	width: 60%;
	padding-left: 2vw;
    margin-top: 50;
}

.cont-col2{
	width: 40%;
}

.Row{
	display: flex;
	background-color: white;
	border-radius: 20px;
	
}

.miTitulo{
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.texto-titulo-cont{
	text-align: center;
	margin: 5px 0px;
	font-size: 1.3em;
}

.texto-subtitulo-cont{
	text-align: center;
	text-decoration: underline;
	margin: 5px 0px;
	font-size: 1.3em;
}

.texto-cont{
	color: black;
	font-size: 1.3em;
	display: flex;
}