body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}

#site-border-left,
#site-border-rigth,
#site-border-top,
#site-border-bottom{
	background: black;
	position: fixed;
	z-index: 1
}
#site-border-left,
#site-border-right {
	top: 0;
	bottom: 0;
	width: 10px
}

#site-border-left {
	left: 0
}

#site-border-right {
	right: 0
}

#site-border-bottom,
#site-border-top {
	left: 0;
	right: 0;
	height: 10px
}

#site-border-top {
	top: 0
}

#site-border-bottom {
	bottom: 0
}
.navbar{
	position: fixed;
	height: 5vh;
	width: 100vw;
	top: 0;
	z-index: 100;
	margin: 10px 10px 0px 10px;
	background-color: black;
	padding: 0px 0px 0px 19vw;
	border-bottom: solid 1px;
	border-color: rgb(255, 255, 255);

}
.navbar1{
	position: fixed;
	height: 10vh;
	width: 100vw;
	margin: 0px 20vw;
}

.navbar ul{
	display: flex;
	padding: 0;
	margin: 0;
}
.navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
    height: 5vh;
    width: 15vw;
	font-size: 1.5em;
}

@media (min-width:350px){
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		margin-right: 7px;
		font-size: 1em;
	}
}

@media (min-width:650px){
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		margin-right: 7px;
		font-size: 1.4em;
	}
}

@media(min-width:1200px) {
	.navbar ul li{
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		height: 5vh;
		width: 15vw;
		font-size: 1.7em;
	}
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	text-decoration: none;
    color: white;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

.img-responsive1 {
	display: block;
	max-width: 25%;
	height: auto
}

.contenedor-texto{
	position: fixed;
	top: 50vh;
	font-size: 2em;
	width: 100vw;
	margin: 0px 20vw;
}

@media (min-width:350px){
	.contenedor-texto{
		position: fixed;
		top: 7vh;
		font-size: 1em;
		width: 100vw;
		margin: 0px 20vw;
	}
	
}

@media(min-width:1200px){
	.contenedor-texto{
		position: fixed;
		top: 50vh;
		font-size: 2em;
		width: 100vw;
		margin: 0px 20vw;
	}
}

.contenedor-imagen{
	position: relative;
	margin: 10vh 20vw;
}